* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;

	--color-neutral-dark: hsl(0, 0%, 20%);
	--color-neutral-dark-1: hsl(0, 0%, 15%);
	--color-neutral-light: hsl(0, 0%, 100%);
	--color-danger: hsl(0, 90%, 45%);
	--color-success: hsl(110, 90%, 35%);
}

:focus {
	outline: 0;
}

body {
	padding-top: 1rem;
	min-height: 100vh;
	background-color: var(--color-neutral-dark);
	max-width: 100vw;
	overflow-x: hidden;
}

.video-grid {
	display: grid;
	width: 80vw;
	margin: 0 auto;
	gap: 1rem;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	place-items: center;
}

.video-container {
	width: max(100%, calc(40vw - 0.5rem));
	aspect-ratio: 16 / 9;
	/* background-color: #000; */
	position: relative;
	box-sizing: border-box;
}

.video-container::after {
	content: attr(aria-label);
	background-color: var(--color-neutral-dark);
	color: var(--color-neutral-light);

	position: absolute;
	bottom: 1rem;
	left: 1rem;
	z-index: 10;

	padding: 5px 10px;
}

.controls {
	position: fixed;
	bottom: 1rem;
	left: 1rem;
	right: 1rem;

	display: flex;
	justify-content: center;
	gap: 1rem;
	z-index: 2147483647;
}

button {
	position: relative;
	padding: 0;
	box-sizing: border-box;
	height: 3rem;
	width: 3rem;
	cursor: pointer;

	border: none;
	border-radius: 50%;

	display: grid;
	place-items: center;

	color: var(--color-neutral-dark);
	background-color: var(--color-neutral-light);

	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

button::before {
	content: '';
	position: absolute;
	inset: 0;

	background-color: currentColor;
	opacity: 0.15;
	border-radius: 50%;

	transform: scale(0);
	transition: transform 150ms ease-in-out;
}

button:not(:disabled):focus::before,
button:not(:disabled):hover::before {
	transform: scale(1);
}

button::after {
	content: attr(aria-label);
	position: absolute;
	pointer-events: none;

	padding: 2px 5px;
	border: 1px solid var(--color-neutral-light);
	background: var(--color-neutral-dark);
	color: var(--color-neutral-light);

	z-index: 2147483648;
	bottom: -1.1rem;
	width: max-content;
	transform: translateX(50%);

	opacity: 0;
	transition: opacity 100ms ease;
}

button:not(:disabled):focus::after,
button:not(:disabled):hover::after {
	opacity: 1;
}

button:not(.active) {
	background-color: var(--color-neutral-dark-1);
	color: var(--color-neutral-light);
}

button[data-function='hangup'] {
	background-color: var(--color-danger);
}

button:not([data-function='hangup']) :last-child {
	display: none;
}

button:not([data-function='hangup']).active :first-child {
	display: none;
}

button:not([data-function='hangup']).active :last-child {
	display: block;
}

button[data-function='fullscreen'] {
	position: absolute;
	right: 1rem;
	bottom: 1rem;
}

button[data-function='fullscreen'].active::after {
	transform: translateX(-50%);
}

button:disabled {
	cursor: not-allowed;
	filter: contrast(0.75) brightness(0.75);
}

video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

::-webkit-media-controls {
	display: none !important;
}

.call-ids {
	display: flex;
	gap: 2rem;
	margin: 1rem 2rem;
	justify-content: center;
	align-items: center;
	color: var(--color-neutral-light);
	margin-bottom: 2rem;
	flex-wrap: wrap;
}

.call-input,
.answer-input {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.75rem;
	flex-grow: 1;
	min-width: max(30vw, 250px);
}

.call-ids .input-group {
	display: flex;
	flex-direction: column;
	/* width: 100%; */
	flex-grow: 1;
	position: relative;
}

.call-ids .input-group input {
	color: var(--color-neutral-light);
	background-color: var(--color-neutral-dark-1);
	border: none;
	border-radius: 99px;
	padding: 5px 8px;
}

.call-ids button {
	background-color: var(--color-success);
	color: var(--color-neutral-light);
	min-width: 3rem;
}

.call-ids button :only-child {
	display: block;
}

#answer-id {
	position: relative;
}

#answer-id::before {
	position: absolute;
	background-color: #fff;
}

.copy-popup {
	padding: 1rem 1rem;
	position: fixed;
	left: 50%;
	bottom: -2rem;

	background-color: var(--color-success);
	color: var(--color-neutral-light);
	border: 2px solid;
	border-radius: 5px;

	opacity: 0;
	transform-origin: bottom;
	transform: translate(-50%, 0) scale(0);
	transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1),
		opacity 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.copy-popup.active {
	opacity: 1;
	transform: translate(-50%, -7rem) scale(1);
}

#call-id {
	cursor: copy;
}

#call-id + span {
	position: absolute;
	bottom: 0;
	right: 10px;
	font-size: 1rem;
	transform: translateY(-25%);
	pointer-events: none;
}

@media (max-width: 1100px) {
	.video-grid {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
	}

	/* .video-container {
		width: 100%;
	} */
}
